<div>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/students">Students</a>
        </li>

        <li class="nav-item dropdown dmenu">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbardrop"
            data-toggle="dropdown"
          >
            Teachers' details
          </a>
          <!-- <div class="dropdown-menu sm-menu">
            <a class="dropdown-item" href="#">service2</a>
            <a class="dropdown-item" href="#">service 2</a>
            <a class="dropdown-item" href="#">service 3</a>
          </div> -->
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Schools' details</a>
        </li>

      </ul>
    </div>
  </nav>
</div>


<router-outlet></router-outlet>