<div class="container">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Fullname">
      </div>
      <div class="form-group col-md-6">
        <label for="inputId">ID</label>
        <input type="text" class="form-control" id="inputId" placeholder="ID">
      </div>
      <div class="form-group col-md-6">
        <label for="inputBirthdate">Birth Date</label>
        <input type="text" class="form-control" id="inputBirthdate" placeholder="Birth date">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputSchoolId">School</label>
        <select id="inputSchoolId" class="form-control">
          <option *ngFor="let school of schools" value="{{school}}">{{school}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputGrade">Grade</label>
        <select id="inputGrade" class="form-control">
          <option *ngFor="let grade of grades" value="{{grade}}">{{grade}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputSchoolGroup">School Group</label>
        <select id="inputSchoolGroup" class="form-control">
          <option *ngFor="let group of schoolsGroups" value="{{group}}">{{group}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputYear">Year</label>
        <select id="inputYear" class="form-control">
          <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Enroll Student</button>
  </form>
</div>

